body{
    min-height:100vh; margin:0; position:relative;
    background-image: url("images/milky-way.png"),url("images/graphy-dark2.png");
    background-size: auto;
  }

fieldset {
    background-color: silver;
    border: solid #FFE81F;
    border-width: thick;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-align:center;
    width:0px;
    margin: 0px auto;
}

.links {
    height: auto;
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
  }

h1 {
    text-align: center;
    color: #FFE81F;
    vertical-align: top;
}


  button{
    border: none;
    outline: none;
    background: none;
  }

  button:hover{
    background-color: gray;
  }

.contact {

  display: block;
  color: black;
  text-align: justify;
  width: 250px;
  padding: 14px 16px;
  text-decoration: none;
}

.fa-circle{
color: #FFE81F;
}

/*end of contact section*/



/*footer starts*/


.email {
  color: #FFE81F;
}

footer{
  background-color: #000000;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.foottext{
  color: white;
  text-align: center;
  font-size: relative;
}
